@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;500&family=Chakra+Petch:wght@600&family=Fredoka+One&family=Gugi&family=Pushster&family=Space+Grotesk:wght@300;400;500&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @media screen and (max-width: ;) {

} */

::selection {
    background-color: rgba(241, 96, 12, 0.808);
    color: white;
}

.first_container span::selection {
    color: lightgreen;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 5em;
}

h1 span {
    color: orange;
    text-decoration: underline;
}

h3, p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
}

h3 {
    text-transform: uppercase;
    color: rgb(75, 74, 74);
}

.first_section {
    display: flex;
}

.first_section .first_container {
    padding-top: 2em;
}

.first_section .first_container h1{
    margin-left: .3em;
}

.first_section .first_container h3, p {
    margin-left: 1.2em;
}

.half_width {
    width: 50%;
    padding-left: 5%;
}

.first_section .image_container img {
    width: 80%;
}

.first_container a {
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
    background-image: linear-gradient(rgba(235, 71, 22, 0.966), rgba(233, 94, 39, 0.733));
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    margin-left: 1em;
}

.first_container a:hover {
    color: black;
}

.first_section {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}