@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Barlow:wght@200;500&family=Chakra+Petch:wght@600&family=Fredoka+One&family=Gugi&family=Pushster&family=Space+Grotesk:wght@300;400;500&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    height: 20px;
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #0E141A;
    box-shadow: inset 10px 10px 10px 10px black;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgba(197, 252, 1, 0.979), rgb(23, 238, 88), rgb(50, 212, 18));
}


/* @media screen and (max-width: ;) {

} */

::selection {
    background-color: rgba(241, 96, 12, 0.808);
    color: white;
}

body {
    cursor: url('images/cursor2.png'), auto;
}

h1 span::selection {
    color: lightgreen;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 5em;
}

h1 span {
    color: orange;
    text-decoration: underline;
}

h3, p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
}

h3 {
    text-transform: uppercase;
    color: rgb(75, 74, 74);
}

.first_section {
    display: flex;
}

.first_section .first_container {
    padding-top: 2em;
}

.first_section .first_container h1{
    margin-left: .3em;
}

.first_section h3, p {
    margin-left: 1.2em;
}

.half_width {
    width: 50%;
    padding-left: 5%;
}

.first_section .image_container img {
    width: 80%;
    margin-top: 2em;
}

a {
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
    background-image: linear-gradient(rgba(235, 71, 22, 0.966), rgba(233, 94, 39, 0.733));
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    margin-left: 1em;
    box-shadow: 2px 2px 8px 2px #b85f54c2;
}

.first_container a i {
    margin-right: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.first_container a:hover {
    color: lightgreen;
    text-decoration: underline;
}

.first_container a:hover i {
    color: lightgreen;
    margin-right: 20px;
    transform: scale(1.5) rotate(360deg);
    -webkit-transform: scale(1.5) rotate(360deg);
    -moz-transform: scale(1.5) rotate(360deg);
    -ms-transform: scale(1.5) rotate(360deg);
    -o-transform: scale(1.5) rotate(360deg);
}

.first_section {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.second_section {
    margin-top: 3em;
}

.second_section .second_container {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.second_section {
    display: flex;
}

.second_section p {
    margin-left: 0;
}

.second_section a {
    margin-left: 0;
}

.third_section {
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}


.third_section h1 {
    margin-left: 3%;
}

.third_section .parent {
    display: flex;
}

.third_section .parent p {
    margin: 0;
}

.third_section .parent .glassbox h1 {
    margin-left: 0;
    font-size: 40px;
}

.third_section .parent .glassbox {
    background-color: rgba(219, 143, 56, 0.52);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 5%;
    box-shadow: 6px 9px 8px 4px rgba(180, 93, 58, 0.753);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: justify;
    padding: 2%;
    border-left: 10px solid;
}

#left-border {
    border-image: linear-gradient(yellow, cyan);
    border-image-slice: 1;
}

#right-border {
    border-image: linear-gradient(rgba(255, 0, 0, 0.582), rgb(248, 133, 2));
    border-image-slice: 1;
}